@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon/icomoon.eot');
  src:  url('../fonts/icon/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icon/icomoon.ttf') format('truetype'),
    url('../fonts/icon/icomoon.woff') format('woff'),
    url('../fonts/icon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #ababab;
}
.icon-flash-right:before {
  content: "\e901";
  color: #fff;
}
.icon-float-arrow-left:before {
  content: "\e902";
  color: #fff;
}
.icon-float-arrow-left-red:before {
  content: "\e903";
  color: #f03c44;
}
.icon-google-plus:before {
  content: "\e904";
  color: #ababab;
}
.icon-hamkari:before {
  content: "\e905";
  color: #5a5a5a;
}
.icon-home:before {
  content: "\e906";
  color: #5a5a5a;
}
.icon-instagram:before {
  content: "\e907";
  color: #ababab;
}
.icon-magalat-menu:before {
  content: "\e908";
  color: #5a5a5a;
}
.icon-moshaver-1:before {
  content: "\e909";
}
.icon-pardakht-home:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
  color: #5a5a5a;
}
.icon-search:before {
  content: "\e90c";
  color: #fff;
}
.icon-shop:before {
  content: "\e90d";
  color: #5a5a5a;
}
.icon-star-brand:before {
  content: "\e90e";
  color: #5a5a5a;
}
.icon-star-menu:before {
  content: "\e90f";
  color: #5a5a5a;
}
.icon-star-rate:before {
  content: "\e910";
  color: #d0d0d0;
}
.icon-telegram:before {
  content: "\e911";
  color: #ababab;
}
.icon-truck-1:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
  color: #ababab;
}
.icon-zmant-kala:before {
  content: "\e914";
}
.icon-arrow-left-emty:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
  color: #fff;
}
.icon-bag-plus-big .path1:before {
  content: "\e917";
  color: rgb(0, 0, 0);
}
.icon-bag-plus-big .path2:before {
  content: "\e918";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-bag-plus-big .path3:before {
  content: "\e919";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-bag-plus-big .path4:before {
  content: "\e91a";
  margin-left: -0.841796875em;
  color: rgb(255, 255, 255);
}
.icon-bag-reverse:before {
  content: "\e91b";
}
.icon-bag-shop:before {
  content: "\e91c";
  color: #5a5a5a;
}
.icon-bag-shop-more:before {
  content: "\e91d";
  color: #fff;
}
.icon-bar-code:before {
  content: "\e91e";
}
.icon-catalog:before {
  content: "\e91f";
  color: #dc1c1c;
}
.icon-comment:before {
  content: "\e920";
}
