@import url(rest.css);


.wrapper-continer-primri {
    width: 100%;
    max-width: 1507px;
    margin-right: auto;
    margin-left: 0;
    display: flex;

}

.wrapper-contact-main {
    width: 100%;
    max-width: 530px;
    margin: auto;
    height: 100%;
    padding: 0 15px;
}

.main-pci {
    position: relative;
    max-width: 791px;
}

.main-pci img {
    filter: grayscale(100%);
}

.main-pci::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/back-girl-index.png) no-repeat center center;
    z-index: -1;
    background-size: contain;
}

.title-main {
    margin-bottom: 70px;
    margin-right: -15px;
}

.title-main .k-smal-head {
    position: relative;
}

.title-main .k-smal-head::before {

    position: absolute;
    content: '';
    width: 180px;
    height: 202px;
    left: 40px;
    top: 52px;
    background: url(../img/more-k-small.png) no-repeat center center;
}

.title-main .title-main-txt {
    margin-right: 25px;
}

.title-main .title-primir {
    font-size: 23px;
    font-weight: 500;
    color: #999898;
}

.title-main .title-primir span {
    color: #ec000a;
}

.title-main .sub-title-primir {
    color: #818181;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
}

.nav-head {
    margin-bottom: 70px;
}

.nav-head ul {
    display: flex;
    justify-content: space-between;
}

.nav-head ul li {}

.nav-head ul li:hover a {
    color: #f03c44;
}

.nav-head ul li:hover i:before {
    color: #f03c44;
}

.nav-head ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5a5a5a;
    font-size: 14px;
    transition: .3s;

}

.nav-head ul li a i {
    margin-bottom: 20px;
    font-size: 21px;
}

.nav-head ul li a i::before {
    transition: .3s;

}

.wrapper-contact-main .txt-haed {
    text-align: justify;
    font-size: 16px;
    line-height: 2.641;
    color: #646464;
    font-weight: 300;
    margin-bottom: 50px;


}

.more-btn {
    background: #f03c44;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 20px;
    display: inline-block;
    color: #fff;
    box-shadow: 0 5px 20px rgba(240, 60, 69, .5);
    transition: .3s;

}

.more-btn:hover {

    box-shadow: none
}

.more-btn i {
    margin-right: 15px;
    font-size: 17px;
}

.last-product {
    background: url(../img/background-slider-last-product.png) no-repeat center left;
    background-size: contain;
    height: 400px;
    padding: 15px 0;
}

.last-product .min-title-last-product {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 20px;
}

.last-product .title-last-product {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #ec000a;
    margin-bottom: 5px;
}

.last-product .sub-title-last-product {
    font-size: 13px;
    color: #9e9e9e;
}

.swiper-last-product {}

.swiper-last-product {}

.swiper-last-product .swiper-slide {
    height: auto;
}
.swiper-last-product .wrapper-slier {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.11);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
    position: relative;
    height: auto;
}


.swiper-last-product .wrapper-slier::before {
    position: absolute;
    content: '';
    width: 97%;
    height: 100%;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #d6d6d6;
    border-radius: 15px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.swiper-last-product .wrapper-slier:hover:before {

    opacity: 1;
    visibility: visible;

}

.swiper-last-product .wrapper-slier figure {
    text-align: center;
    margin-bottom: 20px;
    transition: .5s;
}

.swiper-last-product .wrapper-slier .title-box-slider {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    line-height: 1.5;

}

.swiper-last-product .wrapper-slier .veiw-product {
    position: absolute;
    background: #e33940;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);
    padding: 13px 18px;
    border-radius: 50px;
    white-space: nowrap;
    box-shadow: 0 4px 20px rgba(240, 60, 69, .5);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.swiper-last-product .wrapper-slier:hover .veiw-product {

    transform: translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
}
.swiper-last-product .wrapper-slier:hover figure  {


   transform: translateX(35%);
    
}
.swiper-last-product .wrapper-slier .veiw-product i{
    font-size: 20px;
      margin-left: 7px;
    
}

.swiper-last-product .wrapper-slier .pagintion-custom-last-product {
    position: static;

}

.swiper-last-product .pagintion-custom-last-product {
    position: static;
    margin-left: 28%;
    text-align: left;
    

}

.swiper-last-product .pagintion-custom-last-product .swiper-pagination-bullet {
    margin-left: 7px;
    transform-origin: right;
    transition: .3s;
    height: 8px;
    width: 8px;
}

.swiper-last-product .pagintion-custom-last-product .swiper-pagination-bullet-active {
    background: #ed3b43;
    width: 28px;
    transition: width .3s;
    border-radius: 5px;
}